<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head>
  <meta charset="utf-8">
  <title>WIKOD - Start</title>
  <%- include("./partials/head/head.ejs") %>
</head>

<%- include("./partials/animation/snowflakes.ejs") %>

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%- include("./partials/header/header.ejs") %>

    <div class="container-fluid px-5 my-5">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-sm-6 d-none d-sm-block bg-image">
                    <div class="card border-0 shadow my-5 mx-5 row justify-content-center">
                      <div class="card-body">
                        <h4 class="fw-light">Dane kontaktowe:</h4>
                        <p class="lead">
                          <div style="text-align: start;">
                            <h6 >WIKOD Sp. z o.o.</h6>
                            <h6>ul. Grzegórzecka 17</h6>
                            <h6>60-531 Poznań</h6>
                          </div>

                      </p>
                          
                          <p class="lead">
                            <div style="text-align: start;">
                            <h6>NIP: PL6762136453</h6>
                            </div>
                          </p>
                          
                          <p class="lead">
                            <div style="text-align: start;">
                            <h6>Tel.+48 12 685 06 34</h6>
                            <h6>Tel.+48 12 685 29 51</h6>
                            </div>
                          </p>
                          
                          <p class="lead"><h6>E-mail: biuro@wikod.pl</h6></p>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="text-center">
                    <div class="h3 fw-light">Formularz kontaktowy</div>
                    <p class="mb-4 text-muted">Poniżej znajduje się formularz kontaktowy za pomocą, którego wyślesz nam szybko wiadomość.</p>
                  </div>
    
                  <!-- * * * * * * * * * * * * * *
              // * * SB Forms Contact Form * *
              // * * * * * * * * * * * * * * *
    
              // This form is pre-integrated with SB Forms.
              // To make this form functional, sign up at
              // https://startbootstrap.com/solution/contact-forms
              // to get an API token!
              -->
    
                  <form class="form-signin" id="contactForm" action="/send-email" method="POST">
    
                    <!-- Name Input -->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="name" type="text" name="firstName" placeholder="Name" data-sb-validations="required" />
                      <label for="name">Imie i nazwisko</label>
                      <div class="invalid-feedback" data-sb-feedback="name:required">Pole jest wymagane.</div>
                    </div>
    
                    <!-- Email Input -->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" data-sb-validations="required,email" />
                      <label for="emailAddress">Adres email</label>
                      <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Pole jest wymagane.</div>
                      <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Niepoprawny format danych</div>
                    </div>
    
                    <!-- Message Input -->
                    <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" type="text" name="message" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
                      <label for="message">Wiadomość</label>
                      <div class="invalid-feedback" data-sb-feedback="message:required">Pole jest wymagane.</div>
                    </div>
    
                    <!-- Submit success message -->
                    <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                        <div class="fw-bolder">Wysłano !</div>
                        <p>Aby edytować formularz zaloguj się</p>
                      </div>
                    </div>
    
                    <!-- Submit error message -->
                    <div class="d-none" id="submitErrorMessage">
                      <div class="text-center text-danger mb-3">Błąd podczas wysyłania</div>
                    </div>
    
                    <!-- Submit button -->
                    <div class="d-grid">
                      <button class="btn btn-primary btn-lg btn-block" id="submitButton" type="submit">Wyślij</button>
                    </div>
                  </form>
                  <!-- End of contact form -->
    
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- CDN Link to SB Forms Scripts -->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  <%- include("./partials/footer/footer_v2.ejs") %>

  </div>
  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <!-- <script src="js/menu.js" charset="utf-8"></script> -->
</body>
</html>