<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head>
  <meta charset="utf-8">
  <title>WIKOD - Start</title>
  <%- include("./partials/head/head.ejs") %>
</head>

<%- include("./partials/animation/snowflakes.ejs") %>

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%- include("./partials/header/header.ejs") %>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1>Składaj zamówienia online</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">W ofercie sklepu znajdziesz świeże i mrożone produkty, takie jak mięso, ryby, nabiał, warzywa, owoce i wiele innych. Możesz wybrać spośród szerokiego asortymentu produktów lokalnych i zagranicznych, a także skorzystać z atrakcyjnych promocji i rabatów. Zamówienia realizowane są w ciągu 24 godzin od złożenia.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="http://localhost:3000/signup">
              <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" >Rejestracja</button>
            </a>
            <a href="http://localhost:3000/login">
            <button type="button" class="btn btn-secondary btn-lg px-4" >Logowanie</button>
          </a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="images/temp_orders.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
  <%- include("./partials/footer/footer_v2.ejs") %>

  </div>
  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <!-- <script src="js/menu.js" charset="utf-8"></script> -->
</body>
</html>